[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
black = "==20.8b1"
# Cryptography 3.4+ requires Rust to build
# https://github.com/pyca/cryptography/blob/main/CHANGELOG.rst
cryptography = "==3.3.2"
flake8 = "*"
#https://github.com/lektor/lektor/issues/909
flask = "==1.1.4"
lektor = "*"
isort = "*"
# https://github.com/pypa/wheel/issues/385
wheel = ">=0.36.1"

[requires]
python_version = "3.9"
