/* vim: sts=2 sw=2 ts=2 sr et: */
/*** Page ***/
.container {
  max-width: 100%;
  width: 100%;
}
.row {
  padding: 1rem;
}
a, a:hover {
  color: #CC99FF;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body {
  background-color: #CC99FF;
  color: LightGray;
}
code {
  background-color: Black;
  color: Silver;
}
h1, h2, h3, h4, h5, h6 {
  color: White;
  font-weight: 300;
  margin-bottom: 1rem;
  line-height: 1;
  letter-spacing: 0;
}
h1 { font-size: 4.0rem; }
h2 { font-size: 3.5rem; }
h3 { font-size: 3.0rem; }
h4 { font-size: 2.5rem; }
h5 { font-size: 2.0rem; }
h6 { font-size: 1.5rem; }
h2 {
  background-color: #333;
  margin-left: -0.75rem;
  padding: 0.75rem;
}
li {
  margin: 0;
}

/*** Navigation ***/
nav a, nav a:hover {
  color: White;
}
nav a.active, nav a.active:hover {
  color: #424242;
}
nav div.columns {
  font-size: 3.6rem;
  font-weight: 300;
  letter-spacing: -.1rem;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
}
nav div.title {
  text-align: right;
}
nav div h1 {
  color: Black;
  font-size: 5.0rem;
  font-weight: 600;
}

/*** Contents ***/
body .page .row  {
  background-color: #424242;
}

/*** Footer ***/
footer {
  color: #424242;
}
footer a, footer a:hover {
  color: White;
}
