{#- vim: sts=2 sw=2 ts=2 sr et: #}
{%- from "macros/tags.html" import render_cats_horizontal,
                                   render_cats_vertical %}
{%- macro render_blog_post(post, from_index=false) %}
  <div class="blog-post">
  {%- if from_index %}
  <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
  {%- else %}
  <h2>{{ post.title }}</h2>
  {%- endif %}
  <p class="meta">
    {{ post.pub_date.strftime("%Y-%m-%d, %A") }}, {{ post.author -}}
    {%- if from_index %}
      {{- render_cats_horizontal(post.pub_date.strftime("%Y"), post.tags) }}
    {%- endif %}
  </p>
  {%- if from_index %}
  {{ post.body_short }}
  {%- else %}
  {{ post.body }}
  {%- endif %}
  {%- if not from_index and post.tags %}
  {{ render_cats_vertical(post.tags) }}
  {%- endif %}
  </div>
{%- endmacro %}
