{#- vim: sts=2 sw=2 ts=2 sr et: #}
{%- macro copyright(copyright=none, copyright_author=none, author=none,
                    pub_date=none) %}
  {%- if not copyright%}
    {%- set copyright = "by-sa" %}
  {%- endif %}
  {%- if not copyright_author or copyright_author == "" %}
    {%- if author %}
      {%- set copyright_author = author %}
    {%- else %}
      {%- set copyright_author = "Timid Robot Zehta" %}
    {%- endif %}
  {%- endif %}
  {%- if not pub_date %}
    {%- set pub_date = "2019-12-07 15:45"|parsedatetime %}
  {%- endif %}
<hr class="copyright">
  {%- if copyright.lower() == "allrights" %}
<p class="copyright">
  Copyright &copy; {{ pub_date.strftime("%Y") }} {{ copyright_author }}.
  <strong>All rights reserved.</strong>
</p>
  {%- elif copyright.lower() == "cc-by-sa" %}
<p class="copyright">
  <a rel="license" title="CC BY-SA 4.0 (license button)"
     href="https://creativecommons.org/licenses/by-sa/4.0/">
    <img alt="CC BY-SA 4.0 license button"
         src="https://licensebuttons.net/l/by-sa/4.0/80x15.png#floatleft"></a>
  Copyright &copy; {{ pub_date.strftime("%Y") }} {{ copyright_author }}.
  This work is licensed under a <strong>
  <a rel="license"
     title="Creative Commons Attribution-ShareAlike 4.0 International License"
     href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons
     Attribution-ShareAlike 4.0 International License</a>.</strong>
</p>
  {%- elif copyright.lower() == "cc-by" %}
<p class="copyright">
  <a rel="license" title="CC BY 4.0 (license button)"
     href="https://creativecommons.org/licenses/by/4.0/">
    <img alt="CC BY 4.0 license button"
         src="https://licensebuttons.net/l/by/4.0/80x15.png#floatleft"></a>
  Copyright &copy; {{ pub_date.strftime("%Y") }} {{ copyright_author }}.
  This work is licensed under a <strong>
  <a rel="license"
     title="Creative Commons Attribution 4.0 International License"
     href="https://creativecommons.org/licenses/by/4.0/">Creative Commons
     Attribution 4.0 International License</a>.</strong>
</p>
  {%- elif copyright.lower() == "cc-zero" %}
<p class="copyright">
  <a rel="license" title="CC0 1.0 (license button)"
     href="https://creativecommons.org/publicdomain/zero/1.0/">
    <img alt="CC0 1.0 license button"
         src="https://licensebuttons.net/l/zero/1.0/88x31.png#floatleft"></a>
  Dedicated, with all copyright and related and neighboring rights,
to the public domain worldwide. It is distributed without any warranty (<strong>
  <a rel="license"
     title="CC0 1.0 Universal (CC0 1.0) Public Domain Dedication"
     href="https://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0
     Universal (CC0 1.0) Public Domain Dedication</a></strong>).
</p>
  {%- else %}
<p class="copyright">{{ copyright }}</p>
  {%- endif %}
{%- endmacro %}
