{#- vim: sts=2 sw=2 ts=2 sr et: #}
{%- macro render_pagination(pagination) %}
  <div class="pagination">
    {%- if pagination.has_prev %}
    <a href="{{ pagination.for_page(1)|url }}">&#8676;</a>
    &nbsp; 
    <a href="{{ pagination.prev|url }}">&#8672; Prev &nbsp;</a>
    {%- else %}
    <span class="disabled">&#8676;</span>
    &nbsp; 
    <span class="disabled">&#8672; Prev &nbsp;</span>
    {%- endif %}
    &nbsp; 
    <span class="current">&nbsp;&nbsp;{{ pagination.page }}/
    {{- pagination.pages }}&nbsp;&nbsp;</span>
    &nbsp; 
    {%- if pagination.has_next %}
    <a href="{{ pagination.next|url }}">&nbsp; Next &#8674;</a>
    &nbsp; 
    <a href="{{ pagination.for_page(pagination.pages)|url }}">&#8677;</a>
    {%- else %}
    <span class="disabled">&nbsp; Next &#8674;</span>
    &nbsp; 
    <span class="disabled">&#8677;</span>
    {%- endif %}
  </div>
{%- endmacro %}
