{#- vim: sts=2 sw=2 ts=2 sr et: #}
{%- extends "layout.html" %}
{%- from "macros/blog.html" import render_blog_post %}
{%- from "macros/copyright.html" import copyright %}
{%- block title %}{{ this.title }}{%- endblock %}
{%- block head %}
  {%- if this.css %}
  <link rel="stylesheet" href="{{ this.css|url }}">
  {%- endif %}
{%- endblock %}
{%- block body %}
{{- render_blog_post(this) }}
{{- copyright(this.copyright, this.copyright_author, this.author,
              this.pub_date) }}
{%- endblock %}
{%- block footer %}
  {%- if this.has_prev() %}
    {%- set prev_title = this.get_siblings().prev_page.title %}
    {%- if prev_title|length > 30 %}
      {%- set prev_title = prev_title[0:27] ~ "..." %}
    {%- endif %}
    <div class="post-prev">
      <a href="{{ this.get_siblings().prev_page|url }}"
         title="Previous post: {{ this.get_siblings().prev_page.title }}">
      <i class="fas fa-angle-left"></i>
      {{ prev_title }}
    </a>
    </div>
  {%- endif %}
  {%- if this.has_next() %}
    {%- set next_title = this.get_siblings().next_page.title %}
    {%- if next_title|length > 30 %}
      {%- set next_title = next_title[0:27] ~ "..." %}
    {%- endif %}
    <div class="post-next">
    <a href="{{ this.get_siblings().next_page|url }}"
       title="Next post: {{ this.get_siblings().next_page.title }}">
      {{ next_title }}
      <i class="fas fa-angle-right"></i>
    </a>
    </div>
  {%- endif %}
{%- endblock %}
