{#- vim: sts=2 sw=2 ts=2 sr et: #}
{%- extends "layout.html" %}
{%- from "macros/blog.html" import render_blog_post %}
{%- from "macros/copyright.html" import copyright %}
{%- block title %}{{ this.title }}{%- endblock %}
{%- block body %}
{{- render_blog_post(this) }}
{{- copyright(this.copyright, this.copyright_author, this.author,
              this.pub_date) }}
  <div class="pagination">
    {%- if this.has_prev() %}
    <span class="prev">
    <a href="{{ this.get_siblings().prev_page|url }}">
      &#8672; {{ this.get_siblings().prev_page.title }}</a>
    </span>
    {%- endif %}
    {%- if this.has_next() %}
    <span class="next">
    <a href="{{ this.get_siblings().next_page|url }}">
      {{ this.get_siblings().next_page.title }} &#8674;</a>
    </span>
    {%- endif %}
  </div>
{%- endblock %}
