{#- vim: sts=2 sw=2 ts=2 sr et: -#}
{%- set name = site.db.config.PROJECT.name -%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{%- block title %}Welcome{%- endblock %} - {{ name }}</title>
  <meta name="author" content="Timid Robot Zehta">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/static/normalize.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/skeleton.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/fa/css/fontawesome.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/fa/css/brands.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/fa/css/solid.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/pygments-monokai.css'|url }}">
  <link rel="stylesheet" href="{{ '/static/custom.css'|url }}">
  <!-- favicons -->
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <!-- Open Graph -->
  <meta property="og:site_name" content="Timid Robot's website">
  <meta property="og:url" content="https://zehta.me.me/">
  <meta property="og:title" content="Blog">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://zehta.me/favicon-590x310.png">
  <meta property="og:image:width" content="590">
  <meta property="og:image:height" content="310">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:alt" content="logo">
  <!-- Plausible web stats -->
  <script async defer data-domain="zehta.me"
          src="https://stats.zehta.me/js/plausible.outbound-links.js"></script>
  <script>window.plausible = window.plausible || function() {(window.plausible.q = window.plausible.q || []).push(arguments) }</script>
  <!-- template: block head -->
  {%- block head%}{%- endblock %}
</head>
<body>
  <nav class="container">
    <div class="row">
      <div class="three columns title">
        <a href="/">{{ name.replace(" ", "\u00A0") }}</a>
      </div>
      <div class="nine columns navi">
      {%- for group in [
        [[none, "/about/", "fa-address-card", "About"],
         [none, "/resume/", "fa-laptop-code", "Résumé"]],
        [["tag", "/tags/", "fa-tags", "Tags"],
         ["blog", "/", "fa-newspaper", "Blog"]],
         ] %}
        <div class="navgroup">
        {%- for model, href, fa, title in group %}
          {%- if ((href != "/" and this.is_child_of(href)) or
                  (model is not none and this._model.startswith(model))) %}
            {%- set linkstatus = "linkactive" %}
          {%- else %}
            {%- set linkstatus = "linkinactive" %}
          {%- endif %}
          <div class="{{ linkstatus }}">
            <a class="{{ linkstatus }}" href="{{ href|url }}">
            <i class="fas {{ fa }}"></i> {{ title }}</a>
          </div>
        {%- endfor %}
        </div>
      {%- endfor %}
      </div>
    </div>
  </nav>
  <div class="container page">
    <div class="row">
{% block body %}{%- endblock %}
    </div>
  </div>
  <div class="container footer">
{% block footer %}{%- endblock %}
  </div>
  <div class="container bottombot">
      <i class="fas fa-robot"></i>
  </div>
</body>
</html>
