{%- extends "layout.html" %}
{%- from "macros/tags.html" import render_post_list %}
{%- set title = this.name if this.name else this._id.title() %}
{%- block title %}{{ title }} tag{%- endblock %}
{%- block body %}
<h1><i class="fas fa-tag"></i> {{ title }}</h1>
<h2>Posts</h2>
{%- if this._id == "all" %}
  {% set root = site.get('/') %}
  {{ render_post_list(root.children) }}
{%- else %}
  {%- if this.children %}
    {{ render_post_list(this.children) }}
  {%- else%}
    <p>No posts in tag {{ title }} yet. Maybe there is a draft in the works.</p>
  {%- endif %}
{%- endif %}
{%- endblock %}
