/* vim: sts=2 sw=2 ts=2 sr et: */
/*** Page ***/
/* All devices */
.container {
  padding: 0;
}
/* Small devices (phones: 550px and down) */
.container {
  max-width: 100%;
  width: 100%;
}
/* Medium devices (tablets: 550px and up) */
@media (min-width: 550px) {
  .container {
    max-width: 90%;
    width: 90%;
  }
}
/* Large devices (desktops: 1024px and up) */
@media (min-width: 1024px) {
  .container {
    max-width: 960px;
    width: 80%;
  }
}
.row {
  padding: 1rem;
}
a, a:hover {
  color: #CC99FF;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body {
  background-color: #CC99FF;
  color: LightGray;
}
code {
  background-color: Black;
  color: Silver;
}
h1, h2, h3, h4, h5, h6 {
  color: White;
  font-weight: 300;
  margin-bottom: 1rem;
  line-height: 1;
  letter-spacing: 0;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  background-color: #292929;
  font-size: 3.0rem;
  margin-left: -3.5rem;
  padding: 0.75rem;
}
h3 {
  background-color: #393939;
  font-size: 2.5rem;
  margin-left: -2.5rem;
  padding: 0.75rem;
}
h4 {
  background-color: #3d3d3d;
  border: 2px solid #393939;
  font-size: 2.0rem;
  margin-left: -1.5rem;
  padding: 0.75rem;
}
h5 {
  background-color: #393939;
  font-size: 1.75rem;
  margin-left: -0.75rem;
  padding: 0.75rem;
}
h6 {
  background-color: #393939;
  font-size: 1.5rem;
  margin-left: -0.75rem;
  padding: 0.75rem;
}
img {
  max-width: 95%;
  padding: 1rem;
}
li {
  margin: 0;
}
p {
  margin-bottom: 1rem;
}

/*** Navigation ***/
nav a, nav a:hover {
  color: #cc99ff;
  color: White;
}
nav a.active, nav a.active:hover {
  color: White;
  color: #424242;
}
nav div.row {
  padding-left: 0;
}
nav div.navi {
  border: 2px White solid;
}
nav div.active {
  border: 2px #424242 solid;
}
/* All devices */
nav div.columns {
  font-weight: 300;
  letter-spacing: -0.1rem;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0.3rem;
  padding-bottom: 0.6rem;
  text-align: center;
}
/* Small devices (phones: 550px and down) */
nav div.columns {
  font-size: 2rem;
}
/* Medium devices (tablets: 550px and up) */
@media (min-width: 550px) {
  nav div.columns {
    font-size: 2rem;
  }
}
/* Large devices (desktops: 1024px and up) */
@media (min-width: 1024px) {
  nav div.columns {
    font-size: 3rem;
  }
}
nav div.title {
  text-align: right;
}
nav div h1 {
  color: Black;
  font-size: 5.0rem;
  font-weight: 600;
}

/*** Contents ***/
body .page .row  {
  background-color: #424242;
  padding-left: 3em;
}
hr {
  margin: 0.25em;
  padding: 0;
}
img[src*="floatright"] {
  float: right;
}
img[src*="vatexttop"] {
  vertical-align: text-top;
}
.meta {
  font-family: monospace;
  margin-bottom: 2rem;
  margin-top: -0.75rem;
}
div .pagination {
  border: 2px #cc99ff solid;
}
hr.copyright, p.copyright {
  font-size: smaller;
  margin-left: -3.25rem;
}
.copyright img {
  vertical-align: middle;
}
/* All devices */
.pagination {
  background-color: #cc99ff;
  color: #424242;
  font-weight: 300;
  margin-bottom: -1rem;
  margin-left: -4.5rem;
  margin-right: -1rem;
  text-align: center;
}
/* Small devices (phones: 550px and down) */
.pagination {
  font-size: 2rem;
}
/* Medium devices (tablets: 550px and up) */
@media (min-width: 550px) {
  .pagination {
    font-size: 2rem;
  }
}
/* Large devices (desktops: 1024px and up) */
@media (min-width: 1024px) {
  .pagination {
    font-size: 3rem;
  }
}
.pagination .disabled {
  border: 2px #424242 solid;
  font-weight: 100;
  letter-spacing: 0.1rem;
}
.pagination .current {
  font-family: monospace;
}
.pagination a, .pagination a:hover {
  border: 2px White solid;
  color: White;
  padding-right: 1rem;
  padding-left: 1rem;
}
/* All devices */
.prev {
  text-align: left;
}
.next {
  text-align: right;
}
/* Small devices (phones: 550px and down) */
.next, .prev {
  font-size: 1.5rem;
}
/* Medium devices (tablets: 550px and up) */
@media (min-width: 550px) {
  .next, .prev {
    font-size: 1.5rem;
  }
}
/* Large devices (desktops: 1024px and up) */
@media (min-width: 1024px) {
  .next, .prev {
    font-size: 2.5rem;
  }
}
/*** Footer ***/
footer {
  color: #424242;
}
footer a, footer a:hover {
  color: White;
}
